{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Themes{% endblock %}
{% block stylesheets %}
        {{ parent() }}
<link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/theme.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MetinetFacebookBundle/Resources/public/js/anim_cat.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('accueil') }}"><h1 id="logo">YouQuizz</h1></a>
</div>
<div id="page">
    <div id="contenu">     
        <div id="nav">
            <ul class="navigation">
                <h2>Choisissez votre Quizz parmi nos thèmes :</h2>
                {% for infoTheme in themes %}  
                <div id="cadreImgTheme">
                 <img class="imgTheme" src="{{ asset('/bundles/metinetfacebook/uploads/pictures/theme/') }}{{ infoTheme.picture }}" />
                 </div>
                        <li class="toggleSubMenu"><span>{{ infoTheme.title }}</span>
                           
                            <ul class="subMenu" id="menu1">
                                {% for infoQuizz in infoTheme.quizzes %}
                               <li>
                                   <img class="imgQuizz" src="{{ asset('/bundles/metinetfacebook/uploads/pictures/quizz/') }}{{ infoQuizz.picture }}" />
                                <a class="titleQuizz" href="{{ path('quizz_frontDetails', { 'quizzId': infoQuizz.id }) }}" title="quizz">{{ infoQuizz.title }}</a>
                                </li>
                                 {% endfor %}
                            </ul>
                           
                        </li>                   
                {% endfor %}
                        {% for infoTheme in themes %}  
                <div id="cadreImgTheme">
                 <img class="imgTheme" src="{{ asset('/bundles/metinetfacebook/uploads/pictures/theme/') }}{{ infoTheme.picture }}" />
                 </div>
                        <li class="toggleSubMenu"><span>{{ infoTheme.title }}</span>
                           
                            <ul class="subMenu" id="menu1">
                                {% for infoQuizz in infoTheme.quizzes %}
                               <li>
                                
                                <a href="{{ path('quizz_frontDetails', { 'quizzId': infoQuizz.id }) }}" title="quizz">{{ infoQuizz.title }}</a>
                                </li>
                                 {% endfor %}
                            </ul>
                           
                        </li>                   
                {% endfor %}
                        {% for infoTheme in themes %}  
                <div id="cadreImgTheme">
                 <img class="imgTheme" src="{{ asset('/bundles/metinetfacebook/uploads/pictures/theme/') }}{{ infoTheme.picture }}" />
                 </div>
                        <li class="toggleSubMenu"><span>{{ infoTheme.title }}</span>
                           
                            <ul class="subMenu" id="menu1">
                                {% for infoQuizz in infoTheme.quizzes %}
                               <li>
                                <a href="{{ path('quizz_frontDetails', { 'quizzId': infoQuizz.id }) }}" title="quizz">{{ infoQuizz.title }}</a>
                                </li>
                                 {% endfor %}
                            </ul>
                           
                        </li>                   
                {% endfor %}

            </ul>
                <a class="lienAccueil" href="{{ path('accueil') }}">Retour</a>
        </div>
    </div>
</div>
{% endblock %}