{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Theme list{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/admin.css') }}" type="text/css" />
{% endblock %}
{% block container %}
<h1>Theme list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Image</th>
            <th>Short description</th>
            <th>Long description</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('theme_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td><img src="{{ image(entity.getAbsolutePath()).resize(100,100) }}" alt="{{ entity.picture }}"/></td>
            <td>{{ entity.shortDesc }}</td>
            <td>{{ entity.longDesc }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('theme_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('theme_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('theme_new') }}">
            Créer un nouveau theme
        </a>
    </li>
    <li>
        <a href="{{ path('admin_index') }}">
            Retour administration
        </a>
    </li>
</ul>
{% endblock %}