{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Liste des thèmes{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/admin.css') }}" type="text/css" />
        <link type="text/css" rel="stylesheet" href="{{asset('/bundles/metinetfacebook/css/smoothness/jquery-ui-1.10.3.custom.min.css')}}" />
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('admin_index') }}"><h1 id="logo">YouQuizz-administration</h1></a>
</div>
<div id="page">
    <div id="contenu">  
<h1>Liste des thèmes</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Image</th>
            <th>Résumé</th>
            <th>Description</th>
            <th>Voir</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('theme_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>{% if entity.picture != '' %}<img src="{{ image(entity.getAbsolutePath()).resize(100,100) }}" alt="{{ entity.picture }}"/>{% endif %}</td>
            <td>{{ entity.shortDesc }}</td>
            <td>{{ entity.longDesc }}</td>
            <td><a class="see" href="{{ path('theme_show', { 'id': entity.id }) }}">Voir</a></td>
            <td><a class="edit" href="{{ path('theme_edit', { 'id': entity.id }) }}">Modifier</a></td>
            <td>
                <a href="{{ path('theme_delete', { 'id': entity.id }) }}" class="delete checkdelete" title="Supprimer">
                                Supprimer
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="linkAdmin">
            <a class="lienAccueil" href="{{ path('theme_new') }}">Créer un nouveau thème</a>
            <a class="lienAccueil" href="{{ path('admin_index') }}">Retour à l'administration</a>
        </div>
</div>
    </div>
<div id="dialog-confirm" title="Confirmation de la suppression" style="display:none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0; font-size:12px;"></span>
        Etes-vous sûr de vouloir supprimer ce quizz ?
    </p>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
       //Initialisation de la variable qui récupère le lien
    var theHREF;
 
    //Fonction d'affichage du pop up'
    $( "#dialog-confirm" ).dialog({
        resizable: false,
        height:160,
        width:550,
        autoOpen: false,
        modal: true,
        buttons: {
            "Oui": function() {
                $( this ).dialog( "close" );
                window.location.href = theHREF;
            },
            "Annuler": function() {
                $( this ).dialog( "close" );
            }
        }
    });            
 
    //Si on souhaite supprimer
    $("a.checkdelete").click(function(e) {
        e.preventDefault();
        //On récupère le lien
        theHREF = $(this).attr("href");
        //On entre dans la fonction
        $("#dialog-confirm").dialog("open");
    });
    </script>
{% endblock %}