{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Theme{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/admin.css') }}" type="text/css" />
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('admin_index') }}"><h1 id="logo">YouQuizz-administration</h1></a>
</div>
<div id="page">
    <div id="contenu"> 
<h1>Theme</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="{{ image('@MetinetFacebookBundle/Resources/public/uploads/pictures/theme/' ~ entity.picture).resize(200,200) }}" alt="{{ entity.picture }}"/></td>
        </tr>
        <tr>
            <th>Short description</th>
            <td>{{ entity.shortDesc }}</td>
        </tr>
        <tr>
            <th>Long description</th>
            <td>{{ entity.longDesc }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a class="lienBouton" href="{{ path('theme') }}">
           Retour à la liste
        </a>
    </li>
</ul>
    </div>
    </div>
{% endblock %}
