{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/style.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MetinetFacebookBundle/Resources/public/js/preload.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@MetinetFacebookBundle/Resources/public/js/desc.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('accueil') }}"><h1 id="logo">YouQuizz</h1></a>
    <div class="fb-like" data-href="{{ fb_app_canvas_url }}" data-layout="button_count" data-send="false" data-width="450" data-show-faces="false"></div>
</div>
<div id="page">
    <div id="preload">
        <div id="content">
            <img src="{{ asset('/bundles/metinetfacebook/images/logo.png') }}" alt="logoAttente">
            <h2>Teste ta culture générale !</h2>
            <div id="infoCharg"><p id="charge">Chargement...&nbsp;</p><p id="preloadPercent">0%</p></div>
        </div>
    </div>
        {% set user = app.session.get('user') %}
        <div id="blocProfil">
            <div id="cadreimgUser"> <!-- 1383277319 --><!-- {{ user.fb_uid }} -->
                <img id="imgUser" src="https://graph.facebook.com/{{ user.fb_uid }}/picture?type=square&width=150&height=150"/> 
            </div>
            <h2>Bonjour, <a id="profiler" target="_blank" href="http://www.facebook.com/{{ user.fb_uid }}">{{ user.firstname }}</a></h2>
            <!-- <img src="{{ user.picture }}" alt="photo de {{ user.firstname }} {{ user.lastname }}" /> -->
        </div>
        <div id="classementJoueur">
            <p>Score : {{ user.points }} points</p>
            <p>Classement général : {{ classements }}</p>
            <h3>Classement parmis mes amis :</h3>
            <table>
                <tr>
                    <th>Place</th><th>Nom</th><th>Prénom</th><th>Score général</th>
                </tr>
                {% for friends in arrayUserListing %}
                <tr>
                    <td>{{ friends.getGeneralRank() }}</td>
                    <td>{{ friends.getLastName() }}</td>
                    <td>{{ friends.getFirstName() }}</td>
                    <td>{{ friends.getPoints() }}</td>
                </tr>
                {% endfor %}
            </table>
        
        </div>
        <div id="contenu">
            <p style="width: 500px; position: relative; left: 50%; margin-left: -235px; margin-bottom: 10px; font-size: 20px; font-weight: bold;">Nous vous proposons d'essayer ce Quizz : </p>
            {% for quizzPromoted in quizzEnAvant %}
                <div id="cadreDescQuizz">
                    <a href="{{ path('quizz_frontDetails', { 'quizzId': quizzPromoted.id }) }}"><div id="5" class="hover"></div></a>
                    <img id="5" src="{{ asset('/bundles/metinetfacebook/uploads/pictures/quizz/') }}{{ quizzPromoted.picture }}" alt="" />
                    <a class="desc" id="desc5" href="#">
                        <h3 class="desc" id="desc5">
                            <p style="font-size: 30px; margin-top: -15px; font-weight: bold;">{{ quizzPromoted.title }}</p><br />
                            <p>{{ quizzPromoted.shortDesc }}</p>
                        </h3>
                    </a>                 
                </div>
            {% endfor %}
            <div id="LAstQuizz">
                <p style="margin-bottom: 10px; font-size: 20px; font-weight: bold;">Voici les 4 derniers Quizz disponibles : </p>
                {% for quizzLast in derniersQuizz %}
                <div id="cadreDesc4Quizz">
                    <a href="{{ path('quizz_frontDetails', { 'quizzId': quizzLast.id }) }}"><div id="{{ loop.index }}" class="hover"></div></a>
                    <img id="{{ loop.index }}" src="{{ asset('/bundles/metinetfacebook/uploads/pictures/quizz/') }}{{ quizzLast.picture }}" />
                    <a class="desc" id="desc{{ loop.index }}" href="#">
                        <h3 class="desc" id="desc{{ loop.index }}">
                            <p style="font-size: 20px; margin-top: -20px; font-weight: bold;">{{ quizzLast.title }}</p><br />
                            <p  style="margin-top: -20px;">{{ quizzLast.shortDesc }}</p>
                        </h3>
                    </a>                 
                </div>
                {% endfor %}
            </div>

            <br />

            <a class="lienAccueil" href="{{ path('classement') }}">Les classements</a>
            <a class="lienAccueil" href="{{ path('theme_quizz') }}">Les Quizz</a>
            <a class="lienAccueil" href="#" onclick="sendRequestViaMultiFriendSelector();
                    return false;">Invite tes amis</a>
        </div>
        <div class="push"></div>
    </div>
{% endblock %}
