{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Détails d'un quizz{% endblock %}
{% block body %}
<h1>Détails d'un quizz</h1>
<h2>{{ quizz.getTitle() }}</h2>
<img src="{{ image(quizz.getAbsolutePath()).resize(100,100) }}" />
<p>{{ nbQuestions }} questions</p>
<p>{{ quizz.getLongDesc() }}</p>

{% if hasPlayedThisQuizz == false %}
    <a href="{{ path('play_index', { 'quizzId': quizz.getId() }) }}">Jouer à ce quizz</a>
{% else %}
    <p>Quizz terminé en {{ user.getTimeForThisQuizz() }} secondes! ({{ dateEnd }})</p>
    <p>{{ user.getWinPointsForThisQuizz() }} points gagnés pour ce quizz!</p>
    <p>{{ txtWin }}</p>
{% endif %}    
    
<h3>Les 10 meilleurs joueurs du quizz</h3>
<table>
    <tr>
	<th>Place</th><th>Nom</th><th>Prénom</th><th>Score</th><th>Temps</th>
    </tr>
    {% for bestUser in arrayBestUsers %}
	<tr>
	    <td>{{ loop.index }}</td>
	    <td>{{ bestUser.getLastName() }}</td>
	    <td>{{ bestUser.getFirstName() }}</td>
	    <td>{{ bestUser.getWinPointsForThisQuizz() }} pts</td>
	    <td>{{ bestUser.getTimeForThisQuizz() }} sec</td>
	</tr>
    {% endfor %}
</table>


<h3>Classement des amis qui ont joué à ce quizz</h3>
<table>
    <tr>
	<th>Place</th><th>Nom</th><th>Prénom</th><th>Score</th><th>Temps</th>
    </tr>
    {% for friend in arrayFriends %}
    <tr>
	<td>{{ loop.index }}</td>
	<td>{{ friend.getLastName() }}</td>
	<td>{{ friend.getFirstName() }}</td>
	<td>{{ friend.getWinPointsForThisQuizz() }} pts</td>
	<td>{{ friend.getTimeForThisQuizz() }} sec</td>
    </tr>
    {% endfor %}
</table>

<h3>Défier des amis sur ce quizz</h3>
<table>
    {% for friendADefier in arrayFriendsADefier %}
	<tr>
	    <td>
		<img src="https://graph.facebook.com/{{ friendADefier.id }}/picture" title="{{ friendADefier.name }}" alt="{{ friendADefier.name }}"/>
	    </td>
	    <td>
		<input type="button" onclick="postToFeed({{ friendADefier.id }}); return false;" value="Défier" />
	    </td>
	</tr>
    {% endfor %}
</table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
	FB.init({appId: "{{ fbAppId }}", status: true, cookie: true});

      function postToFeed(friendFbId) {
        // call the API
        var obj = {
          method: 'feed',
          link: '{{ url('accueil') }}',
          picture: '{{ app.request.host ~ asset('images/logo.png') }}',
          name: 'Je te défie sur YouQuizz',
          caption: 'Essaye de faire mieux que moi',
          to: friendFbId,
          actions: [
            {'name': 'get reward', 'link': 'http://example.com/redeem_reward'}
          ],
          description: 'Quizz {{ quizz.getTitle() }}'
        };

        function callback(response) {
          //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
    </script>
{% endblock %}
