{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Détails d'un quizz{% endblock %}
{% block stylesheets %}
        {{ parent() }}
<link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/quizz.css') }}" type="text/css" />
{% endblock %}


{% block body %}
<div id='header'>
    <a href="{{ path('accueil') }}"><h1 id="logo">YouQuizz</h1></a>
    <div class="fb-like" data-href="{{ fb_app_canvas_url }}" data-layout="button_count" data-send="false" data-width="450" data-show-faces="false"></div>
</div>
<div id="page">
    <div id="preload">
        <div id="content">
            <img src="{{ asset('/bundles/metinetfacebook/images/logo.png') }}" alt="logoAttente">
            <h2>Teste ta culture générale !</h2>
            <div id="infoCharg"><p id="charge">Chargement...&nbsp;</p><p id="preloadPercent">0%</p></div>
        </div>
    </div>
    {% set utilisateur = app.session.get('user') %}
    <div id="contenu">
        <h1 class="h1details">Détails du Quizz</h1>
    <h2 class="h2details">{{ quizz.getTitle() }}</h2>
    {% if hasPlayedThisQuizz == false %}
    <a id="playbutton" href="{{ path('play_index', { 'quizzId': quizz.getId() }) }}">Jouer à ce quizz !</a>
    {% endif %}
    <img src="{{ asset('/bundles/metinetfacebook/uploads/pictures/quizz/' ~ quizz.getPicture()) }}" />
    <ul class="detailsquizz">
        <li>Actuellement {{ nbQuestions }} question(s)</li>
        <li>{{ quizz.getLongDesc() }}</li>
    </ul>

    {% if hasPlayedThisQuizz != false %}
    <div class="congratulation">
        <ul>
            <li>{{ txtWin }}</li>
            <li>Quizz terminé en <strong>{{ user.getTimeForThisQuizz() }} secondes</strong> ! ({{ dateEnd }})</li>
            <li style="margin-top:10px;"><span>{{ user.getWinPointsForThisQuizz() }}</span> points gagnés pour ce quizz !</li>
            <li><a class="lienAccueil" href="#" onclick="postToFeed({{ user.getFbUid() }}); return false;">Publier mon score</a></li>
        </ul>
    </div>
    {% endif %}  
        
    {% if arrayBestUsers|length != 0 %}
        <h3>Les 10 meilleurs joueurs du quizz</h3>
        <table>
            <tr>
                <th>Place</th><th>Nom</th><th>Prénom</th><th>Score</th><th>Temps</th>
            </tr>
            {% for bestUser in arrayBestUsers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ bestUser.getLastName() }}</td>
                    <td>{{ bestUser.getFirstName() }}</td>
                    <td>{{ bestUser.getWinPointsForThisQuizz() }} pts</td>
                    <td>{{ bestUser.getTimeForThisQuizz() }} sec</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    
    {% if arrayFriends|length != 0 %}
        <h3>Classement des amis qui ont joué à ce quizz</h3>
        <table>
            <tr>
                <th>Place</th><th>Nom</th><th>Prénom</th><th>Score</th><th>Temps</th>
            </tr>
            {% for friend in arrayFriends %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ friend.getLastName() }}</td>
                <td>{{ friend.getFirstName() }}</td>
                <td>{{ friend.getWinPointsForThisQuizz() }} pts</td>
                <td>{{ friend.getTimeForThisQuizz() }} sec</td>
            </tr>
            {% endfor %}
        </table>
     {% endif %}
    <div id="defi">
    <h3 style="margin-bottom:10px;">Défier des amis sur ce quizz</h3>
    <a class="lienAccueil" style="margin-top: 10px; margin-left: 25px;" href="#" onclick="sendRequestViaMultiFriendSelector(); return false;">Je les défis !</a>
    </div>
    </div>
    <div class="push" style="margin-top: 0;"></div>
    <div class="fb-comments" data-href="http://apps.facebook.com/youquizzderocq/" data-width="470" data-num-posts="10"></div>
</div>
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MetinetFacebookBundle/Resources/public/js/preload.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
<script type="text/javascript">
	FB.init({appId: "{{ fb_app_id }}", status: true, cookie: true});

      function postToFeed(friendFbId) {
        // call the API
        var obj = {
          method: 'feed',
          link: '{{ url('accueil') }}',
          picture: '{{ app.request.host ~ asset('images/logo.png') }}',
          name: 'YouQuizz',
          caption: 'Quizz {{ quizz.getTitle() }}',
          to: friendFbId,
          actions: [
            {'name': 'get reward', 'link': 'http://example.com/redeem_reward'}
          ],
          description: 'J\'ai obtenu {{ user.getWinPointsForThisQuizz() }} point(s) en {{ user.getTimeForThisQuizz() }} secondes'
        };

        function callback(response) {
          //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
    </script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=575560672464968";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    {% endjavascripts %}
{% endblock %}
    
{% endblock %}
