{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Edition Quizz{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/admin.css') }}" type="text/css" />
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('admin_index') }}"><h1 id="logo">YouQuizz-administration</h1></a>
</div>
<div id="page">
    <div id="contenu"> 
        <h1>Edition Quizz</h1>
        <form action="{{ path('quizz_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
                {% if entity.picture != '' %}<img id="formimage" src="{{ image(entity.getAbsolutePath()).resize(100,100) }}" alt="{{ entity.picture }}"/>{% endif %}    
            <ul class="record_actions">
                <li>
                    <button class="deleteBouton" type="submit">Enregistrer</button>
                </li>
                <li>
                    <a class="lienBouton" href="{{ path('quizz') }}">
                        Retour à la liste
                    </a>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock %}

