{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Liste des Quizz{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{asset('/bundles/metinetfacebook/css/admin.css')}}" />
<link type="text/css" rel="stylesheet" href="{{asset('/bundles/metinetfacebook/css/smoothness/jquery-ui-1.10.3.custom.min.css')}}" />
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('admin_index') }}"><h1 id="logo">YouQuizz-administration</h1></a>
</div>
<div id="page">
    <div id="contenu"> 
        <h1>Liste des Quizz</h1>

        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Theme</th>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>A la une</th>
                    <th>Réussite %</th>
                    <th>Nb joué</th>
                    <th>Etat</th>
                    <!-- <th class="efface">Voir</th>
                    <th class="efface">Modifier</th>
                    <th class="efface">Supprimer</th> -->
                </tr>
            </thead>
            <tbody>
    {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('quizz_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td><a href="{{ path('theme_show', { 'id': entity.theme.id }) }}">{{ entity.theme.title }}</a></td>
                        <td>{{ entity.title }}</td>
                        <td><img src="{{ image(entity.getAbsolutePath()).resize(100,100) }}" alt="{{ entity.picture }}"/></td>
                        <td>{% if entity.isPromoted == 1 %}<a href="{{ path('quizz_ispromoted', { 'id': entity.id }) }}">oui</a>{% else %}<a href="{{ path('quizz_ispromoted', { 'id': entity.id }) }}">non</a>{% endif %}</td>
                        <td>{{ entity.pourcentage }}</td>
                        <td>{{ entity.nbParticipation }}</td>
                        <td>{% if entity.state == 1 %}<a class="state" href="{{ path('quizz_state', { 'id': entity.id }) }}" id="actif">Activé</a>{% else %}<a class="state" href="{{ path('quizz_state', { 'id': entity.id }) }}" id="nonactif">Desactivé</a>{% endif %}</td>
                        <td class="trio"><a title="Voir" class="see" href="{{ path('quizz_show', { 'id': entity.id }) }}">Voir</a></td>
                        <td class="trio"><a title="Modifier" class="edit" href="{{ path('quizz_edit', { 'id': entity.id }) }}">Modifier</a></td>
                        <td class="trio last">
                            <a href="{{ path('quizz_delete', { 'id': entity.id }) }}" class="delete checkdelete" title="Supprimer">
                                Supprimer
                            </a>
                
                        </td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>

<div id="linkAdmin">
            <a class="lienAccueil" href="{{ path('quizz_new') }}">Créer un nouveau Quizz</a>
            <a class="lienAccueil" href="{{ path('admin_index') }}">Retour à l'administration</a>
        </div>
        </div>
    </div>
<div id="dialog-confirm" title="Confirmation de la suppression" style="display:none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0; font-size:12px;"></span>
        Etes-vous sûr de vouloir supprimer ce quizz ?
    </p>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{ asset('/bundles/metinetfacebook/js/scripts.js')}}"></script>
{% endblock %}