{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Créer un nouveau Quizz{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/admin.css') }}" type="text/css" />
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('admin_index') }}"><h1 id="logo">YouQuizz-administration</h1></a>
</div>
<div id="page">
    <div id="contenu"> 
<h1>Nouveau Quizz</h1>

<form action="{{ path('quizz_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    
  
        <div id="linkAdmin">
           <button class="deleteBouton" style="margin-right: 60px; margin-top: 15px;" type="submit">Créer</button>
            <a class="lienBouton" href="{{ path('admin_index') }}">Retour à l'administration</a>
        </div>
</form>
    </div>
    </div>
{% endblock %}