{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Quizz{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{asset('/bundles/metinetfacebook/css/admin.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{asset('/bundles/metinetfacebook/css/smoothness/jquery-ui-1.10.3.custom.min.css')}}" />
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('admin_index') }}"><h1 id="logo">YouQuizz-administration</h1></a>
</div>
<div id="page">
    <div id="contenu"> 
<h1>Quizz</h1>

<table class="record_properties">
    <tbody>
       <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Theme</th>
            <td>{{ entity.theme.title }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="{{ image(entity.getAbsolutePath()).resize(200,200) }}" alt="{{ entity.picture }}"/></td>
        </tr>
        <tr>
            <th>Short description</th>
            <td>{{ entity.shortDesc }}</td>
        </tr>
        <tr>
            <th>Long description</th>
            <td>{{ entity.longDesc }}</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>{{ entity.winPoints }}</td>
        </tr>
        <tr>
            <th>Temps estimé</th>
            <td>{{ entity.averageTime }}</td>
        </tr>
        <tr>
            <th>< 25%</th>
            <td>{{ entity.txtWin1 }}</td>
        </tr>
        <tr>
            <th>25% à 50%</th>
            <td>{{ entity.txtWin2 }}</td>
        </tr>
        <tr>
            <th>50% à 75%</th>
            <td>{{ entity.txtWin3 }}</td>
        </tr>
        <tr>
            <th>75% à 100%</th>
            <td>{{ entity.txtWin4 }}</td>
        </tr>
        <tr>
            <th>Titre FB</th>
            <td>{{ entity.shareWallTitle }}</td>
        </tr>
        <tr>
            <th>Description FB</th>
            <td>{{ entity.shareWallDesc }}</td>
        </tr>
        <tr>
            <th>A la une</th>
            <td>{% if entity.isPromoted == 1 %}Oui{% else %}Non{% endif %}</td>
        </tr>
        <tr>
            <th>Activé</th>
            <td>{% if entity.state == 1 %}Oui{% else %}Non{% endif %}</td>
        </tr>
        <tr>
            <th>Crée le</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>
<h3>Les questions</h3>
<ul id ="questions">
{% for question in questions %}
        <li>
            <img class="picture" src="{{ image(question.getAbsolutePath()).resize(100,100) }}" alt="{{ question.picture }}"/> 
            <span class="titre">{{ question.title }}</span>
            <div id="options">
                <a class="see" href="{{ path('question_show', { 'id': question.id }) }}">
                    Voir
                </a>
                <a class="edit" href="{{ path('question_edit', { 'id': question.id }) }}" title="Editer">
                    Editer
                </a>
                <a href="{{ path('question_delete', { 'id': question.id }) }}" class="delete checkdelete" title="Supprimer">
                    Supprimer
                </a>
            </div>
        </li>
{% endfor %}
</ul>
<ul class="record_actions" style="clear:both;">
    <li>
        <a class="lienBouton" href="{{ path('quizz') }}">
           Retour à la liste
        </a>
    </li>
    <li>
        <a class="lienBouton" href="{{ path('question_new', { 'id': entity.id }) }}">
            Ajouter une question
        </a>
    </li>
</ul>
    </div>
    </div>
    
    <div id="dialog-confirm" title="Confirmation de la suppression" style="display:none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0; font-size:12px;"></span>
        Etes-vous sûr de vouloir supprimer cette question ?
    </p>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
       //Initialisation de la variable qui récupère le lien
    var theHREF;
 
    //Fonction d'affichage du pop up'
    $( "#dialog-confirm" ).dialog({
        resizable: false,
        height:160,
        width:550,
        autoOpen: false,
        modal: true,
        buttons: {
            "Oui": function() {
                $( this ).dialog( "close" );
                window.location.href = theHREF;
            },
            "Annuler": function() {
                $( this ).dialog( "close" );
            }
        }
    });            
 
    //Si on souhaite supprimer
    $("a.checkdelete").click(function(e) {
        e.preventDefault();
        //On récupère le lien
        theHREF = $(this).attr("href");
        //On entre dans la fonction
        $("#dialog-confirm").dialog("open");
    });
    </script>
{% endblock %}