{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/bundles/metinetfacebook/css/style.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MetinetFacebookBundle/Resources/public/js/preload.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@MetinetFacebookBundle/Resources/public/js/desc.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
<div id='header'>
    <a href="{{ path('accueil') }}"><h1 id="logo">YouQuizz</h1></a>
</div>
<div id="page">
    <div id="preload">
        <div id="content">
            <img src="{{ asset('/bundles/metinetfacebook/images/logo.png') }}" alt="logoAttente">
            <h2>Teste ta culture générale !</h2>
            <div id="infoCharg"><p id="charge">Chargement...&nbsp;</p><p id="preloadPercent">0%</p></div>
        </div>
    </div>
    {% set user = app.session.get('user') %}
    <div id="blocProfil">
        <div id="cadreimgUser"> <!-- 1383277319 --><!-- {{ user.fb_uid }} -->
            <img id="imgUser" src="https://graph.facebook.com/{{ user.fb_uid }}/picture?type=square&width=150&height=150"/> 
        </div>
        <h2>Bonjour, <a id="profiler" target="_blank" href="http://www.facebook.com/{{ user.fb_uid }}">{{ user.firstname }}</a></h2>
        <!-- <img src="{{ user.picture }}" alt="photo de {{ user.firstname }} {{ user.lastname }}" /> -->
    </div>
    <div id="contenu"
         <p>nous vous proposons d'essayer ce quizz : </p>
            {% for quizzPromoted in quizzEnAvant %}
                    <div id="cadreDescQuizz">
                        <a href="#"><div id="5" class="hover"></div></a>
                        <img id="5" src="{{ asset('/bundles/metinetfacebook/uploads/pictures/quizz/') }}{{ quizzPromoted.picture }}" alt="" />
                        <a class="desc" id="desc5" href="#">
                            <h3 class="desc" id="desc5">
                                <p style="font-size: 25px; margin-top: -15px; font-weight: bold;">{{ quizzPromoted.title }}</p><br />
                                <p>{{ quizzPromoted.shortDesc }}</p>
                            </h3>
                        </a>                 
                    </div>
            {% endfor %}
        <div id="LAstQuizz">
            <p>voici les 4 derniers quizz disponibles : </p>
            {% for quizzLast in derniersQuizz %}
                     <div id="cadreDesc4Quizz">
                        <a href="#"><div id="{{ loop.index }}" class="hover"></div></a>
                        <img id="{{ loop.index }}" src="{{ asset('/bundles/metinetfacebook/uploads/pictures/quizz/') }}{{ quizzLast.picture }}" />
                        <a class="desc" id="desc{{ loop.index }}" href="#">
                            <h3 class="desc" id="desc{{ loop.index }}">
                                <p style="font-size: 17px; margin-top: -20px; font-weight: bold;">{{ quizzLast.title }}</p><br />
                                <p  style="margin-top: -20px;">{{ quizzLast.shortDesc }}</p>
                            </h3>
                        </a>                 
                    </div>
            {% endfor %}
         </div>
            
            <p>Votre classement : </p>
            <br />
            
            <a class="lienAccueil" href="#">Accèder aux classements</a>
            <a class="lienAccueil" href="{{ path('theme_quizz') }}">Accèder aux quizz</a>
            <a class="lienAccueil" href="#">invite tes amis</a>
    </div>
    <div class="push"></div>
</div>


    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/fr_FR/all.js"></script>
    <div class="efface">
    <p>
        <input type="button"
               onclick="sendRequestViaMultiFriendSelector(); return false;"
               value="Send Request to Many Users with MFS"
               />
    </p>
    <p>
        <input type="button"
               onclick="postToFeed(); return false;"
               value="Share"
               />
    </p>
    </div>
    <script>
      FB.init({
        appId  : '575560672464968',
        status : true,
        cookie : true,
        oauth: true
      });

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'My Great Request'
        });
      }
      
      function postToFeed() {
        // call the API
        var obj = {
          method: 'feed',
          link: 'http://example.com',
          picture: 'http://example.com/dialog_image.png',
          name: 'Testing Action links',
          caption: 'Test app',
          to: '1531576941',
          actions: [
            {'name': 'get reward', 'link': 'http://example.com/redeem_reward'}
          ],
          description: 'Action links are awesome.'
        };

        function callback(response) {
          console.log(response);
        }

        FB.ui(obj, callback);
      }
        </script>
{% endblock %}
