<h4>{{ question.getTitle() }} ({{ twigQuestionNumber }}/{{ twigNbQuestions }})</h4>
<img src="{{ image(question.getAbsolutePath()).resize(100,100) }}" />
<form id="questionForm" name="questionForm" method="POST" action="#" onsubmit="return false;">
    <table>
	{% for answer in answers %}
	    <tr>
		<td>
		    <input type="radio" id="answer_{{ answer.getId() }}" name="answer[]" value="{{ answer.getId() }}" class="answerRadio" />
		    <label for="answer_{{ answer.getId() }}">{{ answer.getTitle() }}</label>
		</td>
	    </tr>
	{% endfor %}

	    <input type="hidden" id="nextQuestion" value="{{ nextQuestion }}"/>
	    <input type="hidden" id="urlAjaxQuestion" value="{{ path('play_question', { 'quizzId': quizz.getId() , 'questionNumber' : nextQuestion }) }}" />
    </table>
    <!-- Div pour les messages d'erreur du formulaire -->
    <div id="errorQuestion" style="display:none;"></div>
</form>
    
{% javascripts '@MetinetFacebookBundle/Resources/public/js/form.js' output='js/form.js'
		'@MetinetFacebookBundle/Resources/public/js/scripts.js' output='js/scripts.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}